beautifulsoup4==4.12.3
geopandas==1.0.1
geopy==2.4.1
hvplot==0.11.2
ipykernel==6.29.5
jupysql==0.10.16
nbconvert==7.16.5
nbformat==5.10.4
notebook==7.3.2
pandas==2.2.3
pandas-datareader==0.10.0
plotly==5.24.1
polars==1.18.0
pre_commit==4.0.1
pyarrow==18.1.0
pynytimes==0.10.0
textblob==0.18.0.post0
wrds==3.2.0
