beautifulsoup4==4.12.2
geopandas==0.13.0
geopy==2.3.0
ipykernel==6.23.1
jupysql==0.7.6
nbconvert==7.4.0
nbformat==5.8.0
pandas==2.0.2
pandas-datareader==0.10.0
plotly==5.14.1
pre-commit==3.3.2
pyarrow==12.0.0
pynytimes==0.10.0
textblob==0.17.1
wrds==3.1.6
