beautifulsoup4==4.13.3
geopandas==1.0.1
geopy==2.4.1
hvplot==0.11.2
ipykernel==6.29.5
jupysql==0.11.0
nbconvert==7.16.6
nbformat==5.10.4
notebook==7.3.2
pandas==2.2.3
plotly==6.0.0
polars==1.24.0
pre_commit==4.1.0
pyarrow==19.0.1
pyfredapi==0.9.1
pynytimes==0.10.0
textblob==0.19.0
wrds==3.3.0
