name: Test notebooks

on: [push]

env:
  API_NYT: ${{ secrets.API_NYT }}
  WRDS_USER: ${{ secrets.WRDS_USER }}
  WRDS_PASS: ${{ secrets.WRDS_PASS }}

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest nbmake
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Test with pytest/nbmake
        run: |
          pytest --nbmake notebooks/*.ipynb
      - name: Enforce clean notebooks
        uses: ResearchSoftwareActions/EnsureCleanNotebooksAction@1.1
      - name: Check black formatting
        uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: "./notebooks"
          jupyter: true
